body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Установка максимальной ширины формы */
    width: 100%; /* Заполнение всей доступной ширины */
    text-align: center; /* Центрирование формы */
}

.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Уменьшение ширины инпутов на 20px (для учета padding) */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #323C44;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

.login-form img {
    max-width: 100%; /* Установка максимальной ширины изображения */
    height: auto; /* Автоматическое масштабирование высоты изображения */
    margin-bottom: 20px; /* Добавление отступа снизу */
}
